:root {
  --blue: #19b2de;
  --green: #25c389;
  --yellow: #ffb901;
  --red: #de6262;
  --light-blue: #1691bd;
  --dark-blue: #166ba2;
  --navy: #0d181f;
  --purple: #750aa6;
  --grey: #dfdfdf;
  --footer-blue: #16242f;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div,
main,
section,
header {
  min-height: 1rem;
  border: 1px solid white;
}

footer {
  background-color: var(--navy);
  color: var(--background-white);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
div,
header {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Open Sans", sans-serif;
}

/* Layout */
.page {
  margin: 0 auto;
}

.header {
  text-align: center;
}

.subheading {
  text-align: center;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.row {
  display: grid;
  row-gap: 1rem;
}

.col {
  position: relative;
}

.page__header {
  width: 100%;

  display: grid;
  place-content: center;
}
.navbar {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: min-content;
  width: 100%;
  min-width: 60rem;
  border-radius: 0.5rem;
  grid-template-areas: "title logo navbar";
  grid-gap: 1rem;
}

.page-title {
  grid-area: title;
}

.logo {
  grid-area: logo;
  place-self: center;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}
.navbar-links > ul {
  grid-area: navbar;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  list-style: none;
  place-self: center;
}

.navbar-tab {
  color: white;
  margin-top: 0.4rem;
}

.navbar-bg-color {
  width: 6rem;
  height: 4.5rem;
  margin-top: 1rem;
}

.fa {
  background-color: transparent;
  margin-top: 0.5rem;
}
.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--yellow);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--light-blue);
}
.dark-blue {
  background-color: var(--dark-blue);
}

.page__slider {
  background-color: #ebebeb;
}

.slides {
  display: grid;
  place-content: center;
  position: relative;
  color: black;
}

.text-over-img {
  position: absolute;
  top: 8rem;
  background-color: white;
  width: 7rem;
  height: auto;
}

.img-text {
  padding: 0.5rem 0.5rem;
}

.middle {
  width: 8rem;
  top: 11.25rem;
}

.bottom {
  top: 14.5rem;
  width: 12rem;
}
.page_slider_img {
  width: 75rem;

  object-fit: contain;
}

.feature-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature__service__images {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}
.feature__service__title {
  font-weight: bold;
}

.feature__service__content {
  font-size: 0.75rem;
  color: gray;
  text-align: center;
}
.post__header {
  margin-top: 3rem;
}
.page__intro {
  margin-top: 4rem;
}

.subheading {
  margin-top: 4rem;
}
/* Small view Only */
@media screen and (max-width: 39.9375em) {
  .s-hide {
    display: none;
  }
}

/* medium screens and up  */
@media screen and (min-width: 40em) {
  .row {
    max-width: 55rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }

  .m-col-2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium Only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* large screens and up */
@media screen and (min-width: 64em) {
  .l-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .l-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .l-col-4 {
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .l-row-span {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

button {
  height: 3rem;
  width: 3rem;
  border: none;
}

.row_two {
  display: grid;
  row-gap: 1rem;
}

.col_two {
  height: 4rem;
}

.examples {
  display: flex;
  justify-content: space-around;
}

.web__solution {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--grey);
  border-top: none;
}

.web__author {
  display: flex;
}

.recent__tweets {
  display: flex;
}

.fa.fa-twitter {
  scale: 0.5;
}

.tab__information {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.5rem;
  margin: 3rem;
}

.sponsors > img {
  width: 8rem;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.sponsors__icon {
  background-color: rgb(243, 243, 243);
}

.social__icon {
  margin: 0.5rem;
}

.sample__images {
  width: 100%;
}

.fa-lightbulb-o {
  color: white;
  background-color: var(--green);
  width: 40rem;
  height: 7rem;
  margin-left: 1rem;
}

.image__details {
  background-color: var(--blue);
}

.social__link {
  display: initial;
  height: 1rem;
  gap: 0.25rem;
  background-color: red;
}

.fa {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-facebook {
  background-color: blue;
  width: 2.75rem;
  height: 2.75rem;
}

.fa-google-plus {
  background-color: red;
  width: 2.75rem;
  height: 2.75rem;
}

.fa-twitter-square {
  background-color: var(--blue);
  width: 2.75rem;
  height: 2.75rem;
}

.fa-instagram {
  background-color: magenta;
  width: 2.75rem;
  height: 2.75rem;
}

.fa-wifi {
  background-color: orange;
  width: 2.75rem;
  height: 2.75rem;
}

.fa-flask {
  background-color: red;
  width: 3rem;
  height: 3rem;
}

.fa-leaf {
  background-color: var(--green);
  width: 3rem;
  height: 3rem;
}

.fa-laptop {
  background-color: var(--yellow);
  width: 3rem;
  height: 3rem;
}

.fa-users {
  background-color: var(--purple);
  width: 3rem;
  height: 3rem;
}

.fa-twitter {
  background-color: gray;
  width: 12rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0.5rem;
}

.accordion__menu__one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
}

.accordion__menu__one > button {
  background-color: var(--light-blue);
}

.accordion__menu__two > button {
  background-color: var(--background-white);
  border: 1px solid var(--grey);
}

.menu__button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.accordion__menu__two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  border: 1px solid var(--grey);
}

.things_of_above {
  width: 26rem;
}

.tab__bar {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey);
  height: 3rem;
}

.tab__icons {
  margin-top: 2rem;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottom-left > p {
  display: flex;
}

.highlighted__sample__images {
  width: 100%;
}

.footer {
  margin: 0 auto;
  background-color: var(--footer-blue);
  color: white;
  font-size: 0.7rem;
}

.footer__content {
  max-width: 55rem;
  margin: 0 auto;
}
.footer__img {
  width: 3rem;
  object-fit: contain;
  margin: 0.2rem 0.5rem;
}
.profile__picture {
  border-radius: 50%;
}

.footer__text {
  margin-left: 3rem;
}

.web__author {
  border: 1px solid var(--blue);
}

.text__underline {
  background-color: var(--green);
  border: none;
}

.text__underline.yellow {
  background-color: var(--yellow);
  border: none;
}

.text__underline.blue {
  background-color: var(--blue);
  border: none;
}

.social_link {
  display: flex;
}

.flickr__photos {
  display: flex;
}

.flickr__photos > img {
  justify-content: center;
  padding: 0.25rem;
  object-fit: cover;
  width: 4rem;
}

span {
  color: var(--blue);
  font-weight: bold;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.enter__email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--red);
  height: 4rem;
}

.fa-paper-plane {
  background-color: var(--yellow);
  width: 4rem;
  height: 4rem;
}
